.sf-menu.sf-style-mollise {
	float: left;
	margin: 0;
	padding: 0;
}

.sf-menu.sf-style-mollise ul {
	padding-left: 0;
}

.sf-menu.sf-style-mollise li {
  background: url(../../images/line-1.gif) 100% 50% no-repeat;
  margin: 0;
  padding: 0 7px;
}

.sf-menu.sf-style-mollise li.last { 
  background: none;
}

.sf-menu.sf-style-mollise a {
  padding: 0.667em 1.25em;
  text-decoration: none;
  color: #d9d9d9;
  text-transform: uppercase;
  font-family: 'oswaldregular';
  white-space: nowrap
}

/* "Have child" Item */
.sf-menu.sf-style-mollise li.menuparent {
}

.sf-menu.sf-style-mollise a.menuparent {
}

/* Child Menu */
.sf-menu.sf-style-mollise ul {
  background: #000;
  margin-left: 7px;
  margin-top: -2px;
  padding: 1.25em;
}

.sf-menu.sf-style-mollise ul li {
  background: none;
  margin-bottom: 5px;
  padding: 0;
}

.sf-menu.sf-style-mollise ul li.last {
  margin-bottom: 0;
}

.sf-menu.sf-style-mollise ul li a {
  background: url(../../images/icon-1.gif) 15px 12px no-repeat;
  border: 1px solid #1a1a1a;
  color: #545454;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 2.5em;
  text-transform: none;
  white-space: normal;
}

/* Hover Links */
.sf-menu.sf-style-mollise li:hover > a,
.sf-menu.sf-style-mollise li.sfHover > a,
.sf-menu.sf-style-mollise a:hover,
.sf-menu.sf-style-mollise a:focus,
.sf-menu.sf-style-mollise a:active {
	background: #000;
	color: #fff;
}

/* Child Menu Items Hover */
.sf-menu.sf-style-mollise ul li:hover > a,
.sf-menu.sf-style-mollise ul li.sfHover > a,
.sf-menu.sf-style-mollise ul li a:focus,
.sf-menu.sf-style-mollise ul li a:hover,
.sf-menu.sf-style-mollise ul li.active-trail a.active {
	background: url(../../images/icon-1.gif) 15px -33px no-repeat;
	color: #fff;
}

.sf-menu.sf-style-mollise ul ul {
  margin-top: 8px;
  margin-left: 0;
}

/* Active Links */
.sf-menu.sf-style-mollise a.active {
	background: #fcce0a;
	color: #000;
}

.sf-menu.sf-style-mollise .active-trail .sf-depth-1 {
	background: #fcce0a;
	color: #000;
}


.sf-sub-indicator {
  background: url(../../images/arrows-1.gif) 0 0 no-repeat !important;
}

.sf-menu ul a > .sf-sub-indicator {
  background-position: 0 -10px  !important;
}

/* Child Menu Items Active */
.sf-menu.sf-style-mollise ul li a.active {
	background: #fcce0a;
	color: #000;
}

/* Navbar */
.sf-menu.sf-style-mollise.sf-navbar {
	width: 100%;
}

/* MegaMenu */
.sf-menu.sf-style-mollise span.sf-description {
	color: #999;
	display: block;
	font-size: 0.8em;
	line-height: 1.5em;
	margin: 5px 0 0 5px;
	padding: 0;
}

.sf-menu.sf-style-mollise a.sf-with-ul {
	padding-right: 2.25em;
}

.sf-menu.sf-style-mollise.rtl a.sf-with-ul { /* RTL */
	padding-left: 2.25em;
	padding-right: 1em; 
}

.sf-menu.sf-style-mollise ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
	display: inline;
	float: left;
	width: 12em;
}

.sf-menu.sf-style-mollise.rtl ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
	float: right; /* RTL */
}

.sf-menu.sf-style-mollise ul.sf-megamenu li.sf-megamenu-wrapper ol,
.sf-menu.sf-style-mollise ul.sf-megamenu li.sf-megamenu-wrapper ol li {
	margin: 0;
	padding: 0;
}

.sf-menu.sf-style-mollise li.sf-parent-children-1 ul.sf-megamenu {
	width: 12em;
}

.sf-menu.sf-style-mollise li.sf-parent-children-10 ul.sf-megamenu {
	width: 120em;
}

.sf-menu.sf-style-mollise li.sf-parent-children-2 ul.sf-megamenu {
	width: 24em;
}

.sf-menu.sf-style-mollise li.sf-parent-children-3 ul.sf-megamenu {
	width: 36em;
}

.sf-menu.sf-style-mollise li.sf-parent-children-4 ul.sf-megamenu {
	width: 48em;
}

.sf-menu.sf-style-mollise li.sf-parent-children-5 ul.sf-megamenu {
  width: 60em;
}

.sf-menu.sf-style-mollise li.sf-parent-children-6 ul.sf-megamenu {
  width: 72em;
}

.sf-menu.sf-style-mollise li.sf-parent-children-7 ul.sf-megamenu {
  width: 84em;
}

.sf-menu.sf-style-mollise li.sf-parent-children-8 ul.sf-megamenu {
  width: 96em;
}

.sf-menu.sf-style-mollise li.sf-parent-children-9 ul.sf-megamenu {
  width: 108em;
}

/* navbar */
.sf-navbar { 
  position:static; 
} 

.tb-sf-navbar #header-wrapper {
  border-bottom: 28px solid #000;
}

.tb-sf-navbar .sf-navbar li ul {
  margin: 61px 0 0 0;
  padding: 0;
  border: none;
  background:#000;
  text-align: center;
}

.tb-sf-navbar .sf-navbar ul li:hover > a,
.tb-sf-navbar .sf-navbar ul li.sfHover > a,
.tb-sf-navbar .sf-navbar ul li a:focus,
.tb-sf-navbar .sf-navbar ul li a:hover,
.tb-sf-navbar .sf-navbar ul li a:active {
  background: url(../../images/icon-1.gif) 15px -33px no-repeat;
  color: #fff;
}

.tb-sf-navbar .sf-navbar li.sf-breadcrumb > a {
  background: #fcce0a;
  color: #000;
}


.tb-sf-navbar .sf-navbar ul li {
  background: url(../../images/line-3.gif) 100% center no-repeat;
  display: inline;
  float: none;
  margin: 0;
}

.tb-sf-navbar .sf-navbar ul li.last {
  background: none;
}

.tb-sf-navbar .sf-navbar ul li a {
  border: none;
  display: inline;
  padding: 0.667em 0.833em 0.667em 2.5em; 
}

.tb-sf-navbar .sf-navbar ul li.last a {
  border-right: none;
}

.tb-sf-navbar .sf-navbar li ul ul {
  border-bottom: none;
  margin: -2px 0 0 0;
}

.tb-sf-navbar .sf-navbar li ul ul li {
  border-right: none;
}

.tb-sf-navbar ul ul .sf-sub-indicator { 
  background-position: 0 0 !important;
}

.tb-sf-navbar .sf-navbar li ul li a.active {
  background: url(../../images/icon-1.gif) 15px -33px no-repeat;
  color: #fff;
}