/**
 * mollise Style for Quiktabs
 */

/* --- Quicktabs ---*/
.quicktabs-wrapper { 
  padding-bottom: 2.5em;
}

#panel-sixth-wrapper .quicktabs-wrapper .grid-inner {
  padding: 0 20px 0 0; 
}

.quicktabs_main {
  padding-top: 2em;
}

.quicktabs-style-mollise ul.quicktabs-tabs {
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.quicktabs-style-mollise ul.quicktabs-tabs li {
  background: none;
  display: block;
  float: left;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
}

.quicktabs-style-mollise ul.quicktabs-tabs li a {
  background: url(../../images/bg-btn-quicktab.gif) repeat-x 0 0;
  border: 1px solid #000;
  color: #8b8b8b;
  display: block;
  float: left;
  margin-right: 10px;
  padding:.5em  1em;
  text-transform: uppercase;
}

.quicktabs-style-mollise ul.quicktabs-tabs li a:hover,
.quicktabs-style-mollise ul.quicktabs-tabs li a:active,
.quicktabs-style-mollise ul.quicktabs-tabs li a:focus {
  background: #000;
  border-bottom: 1px solid #2e3131;
  color: #fff;
  text-decoration: none;
}

.quicktabs-style-mollise ul.quicktabs-tabs li.active a {
  background: #ffcc00;
  border: none;
  color: #000;
}

/* --- Arcodion --- */
.quick-accordion-mollise {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em; /* Ensure font size is approriate with the container */ 
  padding-bottom: 35px;
}

/* Accordion Header */
.quick-accordion-mollise .ui-accordion-header {
  background: #000; 
  border-color: #000;
  color: #fff;
  font-weight: bold;
  margin-top: 5px;
}

.quick-accordion-mollise .ui-accordion-header a {
  color: #fff;
  font-size: 1em;
  font-weight: normal;
  padding: .833em 1em .833em 2em;
  text-transform: uppercase;
}

.quick-accordion-mollise .ui-state-default .ui-icon {
  background: url(../../images/arrow.png) no-repeat 5px 5px;
}

/* Hover Accordion Header */
.quick-accordion-mollise .ui-state-hover {
  background: #333;
  border: 1px solid #333;
  color: #FFF;
}

.quick-accordion-mollise .ui-state-hover a {
  color: #FFF;
}

.quick-accordion-mollise .ui-state-hover .ui-icon {
  background: url(../../images/arrow-2.png) no-repeat 5px 5px;
}

/* Active Accordion Header */
.quick-accordion-mollise .ui-state-active {
  background: #ffcc00;
  border: 1px solid #ffcc00;
  color: #000;
}

.quick-accordion-mollise .ui-state-active a {
  color: #000;
}

.quick-accordion-mollise .ui-state-active .ui-icon {
  background: url(../../images/arrow-3.png) no-repeat 5px 5px;
}

/* Accordion Content */
.quick-accordion-mollise .ui-accordion-content {
  background: none;
  border: none;   
  color: #666; 
  overflow: hidden;
  padding: 2em 0 2.5em;
}

.quick-accordion-mollise .ui-accordion-content a {
  color: #666;
}

.quick-accordion-mollise .grid-inner {
  padding-left: 0;
}

/* --- UI Tabs --- */
.quicktabs-ui-mollise {
  background: none;
  border: none;
  color: #666;
  font-family: Arial, Helvetica, sans-serif; /* Override the font */
  font-size: 1em; /* Ensure font size is approriate with the container */
  margin-bottom: 15px;
  padding: 0;
}

/* Tabs */
.quicktabs-ui-mollise .ui-tabs-nav {
  background: #303232;
  border: none;
  border-bottom: none; 
  margin: 0;
  padding: .833em 1.5em 0;
}

.quicktabs-ui-mollise .ui-tabs-nav li {
  background: url(../../images/bg-btn-quicktab.gif) repeat-x 0 0;
  border: 1px solid #000;
  border-bottom: 0;
  margin-right: 5px;
}

.quicktabs-ui-mollise .ui-tabs-nav li a {
  color: #fff;
  padding: .833em 1em;
  text-transform: uppercase;
}

/* Hover Tabs */
.quicktabs-ui-mollise .ui-tabs-nav li.ui-state-hover {
  background: url(../../images/bg-btn-quicktab.gif) repeat-x 0 0;
  border: 1px solid #000;
  border-bottom: 0;
}

.quicktabs-ui-mollise .ui-tabs-nav li.ui-state-hover a {
  color: #666;
}

/* Selected Tabs */
.quicktabs-ui-mollise .ui-tabs-nav li.ui-tabs-selected {
  background: #000;
  border: 1px solid #000;
  border-bottom: 0;
}

.quicktabs-ui-mollise .ui-tabs-nav li.ui-tabs-selected a {
  color: #ffcc00;
}

/* Tabs Content */
.quicktabs-ui-mollise .ui-tabs-panel {
  background: #000;
  color: #666;
  padding: 2em;
}

.quicktabs-ui-mollise .ui-tabs-panel a {
  color: #666;
}