/* --- Articles (nodes) --- */
.article {
  border-bottom: 1px solid #2e2e2e;
  margin-bottom: 20px; /* Articles spacing */
  padding-bottom: 20px;
}

.article.node-full { 
  border-bottom: none;
  margin: 0;
  padding: 0;
}

.views-row-last .article {
  margin-bottom: 15px;
}

/* Teaser */
.node-teaser {
}

/* Article Title */
.article > .header {
}

.node-title {
  color: #fff;
  font-size: 1.5em;
  margin: 0;
  font-weight: normal;
}

.node-title a,
.node-title a:visited {
  color: #fff;
}

.node-title a:hover,
.node-title a:active,
.node-title a:focus {
  color: #FCCE0A;
  text-decoration: none;
}

/* User Picture */
.article .user-picture {
  display: inline;
  margin-right: .5em;
}

.article .user-picture img {
}

/* Meta */
.node-author {
}

.username {
}

.article > .submitted {
  color: #aaa;
  line-height: 1;
  padding: 0.833em 0 1.5em;
  font-size: 0.833em;
  font-style: italic;
  text-transform: uppercase;
}

.article > .submitted a {
  color: #FCCE0A;
}

.article > .submitted a:hover,
.article > .submitted a:active,
.article > .submitted a:focus {
  color: #fff;
  text-decoration: none;
}

.article > .submitted .username {  
}

.article > .submitted .time {
}

/* Field Image */
.article .field-type-image {
  margin-bottom: 1em;
}

/* Article Lists */
.article ul {
}

.article ul li {
}

.article ol {
}

.article ol li {
}

/* Article Links */
.article .menu {
  margin-top: 1.5em;
}

.article ul.links {
  color: #999;
  font-size: 0.846em;
  margin: 0;
}

.article ul.links li {
  margin: 0 0.455em 0 0;
  padding: 0;
}

.article ul.links li a {
  background:url(../images/bg-readmore.gif) 0 0 repeat-x;
  border: 1px solid #010101;
  color: #fff;
  display: inline-block;
  font-size: 0.917em;
  margin-bottom: 5px;
  padding: 5px 10px; 
  line-height: 16px;
  text-transform: uppercase; 
  vertical-align: middle;
}

.article ul.links li a:hover,
.article ul.links li a:focus {
  background: #000;
  border-bottom: 1px solid #2e3131;
  color: #FFF;
  text-decoration: none;
}

.article ul.links li.node-readmore.first a {
  background:url(../images/bg-readmore-2.gif) 100% 0 no-repeat;
  padding-right: 20px;
}

.article ul.links li.node-readmore.first a:hover,
.article ul.links li.node-readmore.first a:focus,
.article ul.links li.node-readmore.first a:active {
  background:url(../images/bg-readmore-2.gif) 100% -32px no-repeat;
}

.article ul.links li.node-readmore a {
}

.article ul.links li.comment-add a {
}

.article ul.links li.comment-comments a {
}

.article ul.links li.comment-new-comments a {
}

.article ul.links li.blog_usernames_blog a {
}

.article ul.links li.print_html a {
}

.article ul.links li.print_email a {
}

.article ul.links li.print_pdf a {
}

.article ul.links li.first {
}

.article ul.links li.last {
}

/* Workflow states */
.article-add {
}

.article-edit {
}

.article-delete {
}

.article-preview {
}

.article-sticky {
}

.article-promoted {
}

/* Status */
.article-unpublished {
}

/* --- Blogs --- */
.page-blog .article {
}

/* Teaser */
.page-blog .node-teaser {
}

/* Blog Title */
.node-blog > .header {
}

.node-blog .node-title {
}

.node-blog .node-title a,
.node-blog .node-title a:visited {
}

.node-blog .node-title a:hover,
.node-blog .node-title a:active,
.node-blog .node-title a:focus {
}

/* Blog User Picture */
.node-blog .user-picture {
  display: inline-block;
  vertical-align: text-top;
}

.node-blog .user-picture img {
}

/* Blog Meta */
.node-blog > .submitted {
}

.node-blog > .submitted a {
}

.node-blog > .submitted a:hover,
.node-blog > .submitted a:active,
.node-blog > .submitted a:focus {
}

.node-blog > .submitted .username {
}

.node-blog > .submitted .time {
}

/* Blog Field Image */
.node-blog .field-type-image {
  border: 0;
}

/* Blog Links */
.node-blog .menu {
}

.node-blog ul.links {
}

.node-blog ul.links li {
}

.node-blog ul.links li a {
}

.node-blog ul.links li a:hover,
.node-blog ul.links li a:active,
.node-blog ul.links li a:focus {
}

.node-blog ul.links li.node-readmore a {
}

.node-blog ul.links li.comment-add a {
}

.node-blog ul.links li.comment-comments a {
}

.node-blog ul.links li.comment-new-comments a {
}

.node-blog ul.links li.blog_usernames_blog a {
}

.node-blog ul.links li.print_html a {
}

.node-blog ul.links li.print_email a {
}

.node-blog ul.links li.print_pdf a {
}

.node-blog ul.links li.first {
}

.node-blog ul.links li.last {
}

/* Blog Workflow states */
.page-blog .article-add {
}

.page-blog .article-edit {
}

.page-blog .article-delete {
}

.page-blog .article-preview {
}

.page-blog .article-sticky {
}

.page-blog .article-promoted {
}

/* Status */
.page-blog .article-unpublished {
}

/**
 * Misc.
 */

/* Skinr article title alignment */
.ta-l .article-title {
  text-align: left;
}

.ta-r .article-title {
  text-align: right;
}

.ta-c .article-title {
  text-align: center;
}
