/**
 * Common Block
 */
 
/* --- Blocks --- */
.block {
  margin: 0;
}

.block-inner {
  padding: 0;
}

.block-title {
  color: #fff;
  font-size: 1.5em;
  font-weight: normal;
  margin: 0;
}

.block-content {
}

/* --- Block Lists --- */
.block ul {
}

.block ul li {
  margin: 0 0 0 0.5em;
}

.block ol {
}

.block ol li {
}

/* Block Item list */
.block .item-list ul {
}

.block .item-list ul li {
}

/* Block Links List */
.block ul.links {
  margin: 0;
  list-style: none;
}

.block ul.links li {  
  margin: 0 0 10px;
}

.block ul.links li a {
  background: url(../images/ico-li.png) 0 5px no-repeat;
  padding: 0 0 0 15px;
}
 
.block ul.links li a:hover,
.block ul.links li a:focus,
.block ul.links li a:active {
  background: url(../images/ico-li.png) 0 -40px no-repeat;
  text-decoration: none;
}

/* Block More Links */
.block .more-link {
  margin-top: 5px;
}

.block .more-link a {
}

/* --- Sidebar Blocks --- */
.sidebar .block {
  color: #666;
}

.sidebar .block-inner {
}

.sidebar .block-title {
  color: #fff;
  font-size: 1.5em;
  background: url(../images/bg-title.gif) 0 71% no-repeat;
  margin-bottom: .833em;
  margin-top: 0;
  text-transform: uppercase;
}

.sidebar .block-title span,
.sidebar .block-title span,
.sidebar .block-title span {
  background: #1c1e1e;
  padding-right: 20px;
}

.hot-news img {
  border: 1px solid #000;
}


/* Sidebar first */
#sidebar-first-wrapper .views-field {
  margin-bottom: 1em;
}

.views-field-view-node .field-content {
  background:url(../images/bg-readmore.gif) 0 0 repeat-x;
  border: 1px solid #010101;
  display: inline-block;
  color: #fff;
  font-size: 0.917em;
  text-transform: uppercase;  
}

.views-field-view-node .field-content a {  
  background: url(../images/arrow-4.gif) 92% 50% no-repeat;
  cursor: pointer;
  display:inline-block;
  padding: 5px 20px 5px 10px;
  line-height: 18px;
}

.views-field-view-node .field-content:hover, 
.views-field-view-node .field-content:active, 
.views-field-view-node .field-content:focus {
  background: #000;
  border-bottom: 1px solid #2E3131;
}

.views-field-view-node .field-content a:hover {
  text-decoration: none;
}

.sidebar .block-content {
}

/* Sidebar second */
.service-block p {
  border-bottom: 1px dotted #424242;
  color: #fff;
  padding-bottom: 1em;
}

.service-block p a {
  color: #fff;
  text-decoration: underline;
}

.service-block p a:hover,
.service-block p a:focus {
  text-decoration: none;
}

/* Popular */
.row-type { 
  border-bottom: 1px solid #323232;
  margin-bottom: 0.833em;
  overflow: hidden;
}

.row-type .views-field-changed,
.row-type .views-field-name {
  float: left;
  margin-right: 5px;
  color: #aaa;
  font-size: 0.917em;
}

.views-row-last.row-type {
  border-bottom: none;
  margin-bottom: 0;
}

.row-type .views-field-title a {
  color: #FCCE0A;
  font-weight: bold;
}

.row-type .views-field-title a:hover,
.row-type .views-field-title a:focus,
.row-type .views-field-title a:active{
  color: #fff;
  text-decoration: none;
}

#sidebar-first-wrapper .row-type .views-field {
  margin-bottom: 0.833em;
}

/* First Sidebar Blocks */
#sidebar-first .block {
}

#sidebar-first .block-inner {
}

#sidebar-first .block-title {
}

#sidebar-first .block-content {
}

/* Second Sidebar Blocks */
#sidebar-second .block {
}

#sidebar-second .block-inner {
}

#sidebar-second .block-title {
}

#sidebar-second .block-content {
}

/* --- Header Blocks --- */
#header-top-wrapper .block {
  float: left;
}

#header-top-wrapper .block-search {
  float: right;
}

#header-top-wrapper .block-inner {
  padding: 0;
}

#header-top-wrapper p {
  color: #4c4c4c;
  margin: 0;
  padding: 2px 0 0 0;
}

#header-top-wrapper p a {
  color: #4c4c4c;
  text-decoration: underline;
}

#header-top-wrapper p a:hover, #header-top-wrapper p a:focus, 
#header-top-wrapper p a:active {
  text-decoration: none;
}


#header-wrapper .block {
}

/* ---- Footer Blocks --- */
#footer-wrapper .block {
}

/* --- First Panels Blocks --- */
#panel-first-wrapper .block {
}

/* --- Second Panels Blocks --- */
#panel-second-wrapper {
  margin-bottom: 20px;
}

#panel-second-wrapper .block {
}

/* --- Social Panels Blocks --- */
#panel-social-wrapper .grid-inner {
  border-bottom: 1px solid #323232;
  padding: 0 0 20px;
}

#panel-social-wrapper .panel-column-first .grid-inner {
  margin-left: 10px;
}

#panel-social-wrapper .panel-column-last .grid-inner {
  margin-right: 10px;
}

#panel-social-wrapper .block-inner {
  padding: 0 10px;
}

#panel-social-wrapper .social a {
  color: #626262;
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.167em;
  font-style: italic;
  padding: 20px 20px 20px 35px;
}

#panel-social-wrapper .social a:hover,
#panel-social-wrapper .social a:focus,
#panel-social-wrapper .social a:active {
  background: #000;
  border-radius: 5px;
  color: #a4a4a4;
  text-decoration: none;
}

#panel-social-wrapper .social span {
  background: url(../images/ico-social.png) no-repeat;
  padding: 6px 0 6px 45px;
}

#panel-social-wrapper .social span.twitter {
  background-position: 0 0;
}

#panel-social-wrapper .social span.youtube {
  background-position: 0 -32px;
}

#panel-social-wrapper .social span.facebook {
  background-position: 0 -70px;
}

#panel-social-wrapper .social span.googleplus {
  background-position: 0 -107px;
}


/* --- Fourth Panels Blocks --- */
#panel-fourth-wrapper .container {  
 margin-bottom: 20px; 
}

#panel-fourth-wrapper .grid-inner {
  border-bottom: 1px solid #323232; 
  padding: 0;  
}

#panel-fourth-wrapper .panel-column-first .grid-inner {
  margin-left: 10px;
  padding-left: 0;  
}

#panel-fourth-wrapper .panel-column-last .grid-inner {
  margin-right: 10px;
}

#panel-fourth-wrapper .block { 
  border-right: 1px solid #323232;
  margin: 0 20px 0 0;  
  padding: 20px 20px 10px 0;
}

#panel-fourth-wrapper .panel-column-last .block {
  border-right: none;
  margin-right: 0; 
}

#panel-fourth-wrapper h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

#panel-fourth-wrapper .block-subject img { 
  overflow: hidden;
  width: 190px;
}

/* --- Fifth Panels Blocks --- */
#panel-fifth-wrapper .block-inner  {
  border-bottom: 1px solid #323232;
  margin-bottom: 20px; 
  overflow: hidden;
}

#panel-fifth-wrapper p {
  font-size: 1.2em;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}

/* --- Seventh Panels Blocks --- */
#panel-seventh-wrapper h2 {
  margin-bottom: 15px;
  padding-top: 10px;
}

#panel-seventh-wrapper .grid-inner {
  border-left: 1px solid #323232;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 5px;
}

#panel-seventh-wrapper .panel-column-first .grid-inner {
  border-left: none;
  margin-left: 10px;
  padding-left: 0;
}

#panel-seventh-wrapper ul {
  margin-left: 0;
}

#panel-seventh-wrapper .block ul li {
  list-style: none;
  margin-left: 0;
  padding-bottom: .5em;
}

#panel-seventh-wrapper .block ul li a {
  text-decoration: none;
}



/* --- First home Panels Blocks --- */
#sidebar-home-first-wrapper .grid-inner { 
  border-right: 1px solid #323232;
  padding-right: 15px;
  padding-top: 25px;
}

#sidebar-home-first-wrapper .block-title,
#sidebar-home-second-wrapper .block-title,
#sidebar-home-third-wrapper .block-title {
  font-size: 2em;
  color: #fff;
  background: url(../images/bg-title.gif) 0 71% no-repeat;
  margin-bottom: 1em;
  text-transform: none;
}

#sidebar-home-first-wrapper .block-title span,
#sidebar-home-second-wrapper .block-title span,
#sidebar-home-third-wrapper .block-title span {
  background: #1c1e1e;
  padding-right: 20px;
}

.video { 
  margin-bottom: 25px; 
}

.readmore a {
  background:url(../images/bg-readmore.gif) 0 0 repeat-x;
  border: 1px solid #010101;
  display: inline-block;
  color: #fff;
  font-size: 0.917em;
  text-transform: uppercase;  
}

.readmore a span {  
  background: url(../images/arrow-4.gif) 92% 50% no-repeat;
  cursor: pointer;
  display:inline-block;
  padding: 5px 20px 5px 10px;
  line-height: 18px;
}

.readmore a:hover, .readmore a:active, .readmore a:focus {
  background: #000;
  border-bottom: 1px solid #2e3131;
  text-decoration: none;
}

/* --- Second home Panels Blocks --- */
#sidebar-home-second-wrapper .grid-inner {
  padding: 25px 15px 0 15px;
  border-right: 1px solid #323232;
}

#sidebar-home-second-wrapper img {
  margin-bottom: 10px;
}

#sidebar-home-second-wrapper p span {
  color: #FCCE0A;
  text-transform: uppercase;
}

/* --- Third home Panels Blocks --- */
#sidebar-home-third-wrapper .grid-inner {
  padding: 25px 15px 0 15px;
}

#sidebar-home-third-wrapper .views-field-title {
  font-size: 1.166em;
  margin-bottom: 20px;
  padding-top: 5px;
}

#sidebar-home-third-wrapper .views-field-title a {
  color: #fff;
}

#sidebar-home-third-wrapper .views-field-title a:hover,
#sidebar-home-third-wrapper .views-field-title a:active,
#sidebar-home-third-wrapper .views-field-title a:focus {
  text-decoration: none;
  color: #FCCE0A;
}

#sidebar-home-third-wrapper .views-field-body {
  clear: both;
}

#sidebar-home-third-wrapper .views-field-changed {
  background: url(../images/bg-date.gif)  0 0 repeat;
  color: #fff;
  display: block;
  float: left;
  font-family: 'oswaldregular';
  font-size: 1.166em;
  margin-right: 20px;
  padding: 5px 10px;  
  text-transform: uppercase;
}

#sidebar-home-third-wrapper .views-row:hover .views-field-changed {
  color: #FCCE0A;
}

#sidebar-home-third-wrapper .views-row {
  border-bottom: 1px dotted #494949;
  margin-bottom: 20px;
}

#sidebar-home-third-wrapper .views-row-last {
  border-bottom: none;
  margin-bottom: 0;
}

/**
 * Specfic Blocks
 */
 
/* --- Menu Block --- */
.block-menu {
}

.block-menu ul.menu {
  margin-bottom: 0;
  margin-left: 0;
}

.block-menu ul.menu ul {
}

.contextual-links-region {
  z-index: 1;
}

/* --- Node Blocks --- */
.block-node .block-content {
}

.block-node table {
  overflow: hidden;
  width: 100%;
}

.block-node tbody {
  border-top: 0;
}

.block-node table tr td {
  border-bottom: 1px dotted #CCC;
}

.block-node table .title-author {
  padding-left: 0;
  padding-right: 0;
}

.block-node table .node-title {
  font-size: 1em;
}

.block-node table .node-title a {
  color: #666;

}

.block-node table .node-title a:hover,
.block-node table .node-title a:active,
.block-node table .node-title a:focus {
  color: #FFF;
}

.block-node table .node-author {
  color: #999;
  font-size: 1em;
}

body.not-logged-in .block-node table td.edit,
body.not-logged-in .block-node table td.delete {
  display: none; /* Hide Edit & Delete TD if not log-in */
}

/* --- Forums Block --- */
.block-forum .item-list ul {
  margin: 0;
  padding: 0;
}

.block-forum .item-list ul li {
}

.block-forum .item-list ul li:first-child {
}

.block-forum .item-list ul li a {
}

.block-forum .item-list ul li a:hover,
.block-forum .item-list ul li a:active,
.block-forum .item-list ul li a:focus {
}

.block-forum .more-link {
}

.block-forum .contextual-links-wrapper {
  display: none; /* Drupal Bug. Temporary hiding this link */
}

/* --- Comment Blocks --- */
.block-comment {
}

/* --- Aggregator Blocks --- */
block-aggregator {
}

.block-aggregator .item-list ul {
  margin: 0;
  padding: 0;
}

.block-aggregator .item-list ul li {
  background-image: none;
  border-bottom: 1px dotted #CCC;
  padding: .5em 0;
}

.block-aggregator .item-list ul li:first-child {
  padding-top: 0;
}

.block-aggregator .item-list ul li a {
  color: #666;
}

.block-aggregator .item-list ul li a:hover,
.block-aggregator .item-list ul li a:active,
.block-aggregator .item-list ul li a:focus {
  background: #333;
  color: #FFF;
  text-decoration: none;
}

/* --- Search Blocks --- */
.block-search {
}

/* Search blocks in header */
#header .block-search .block-inner,
#header .block-search .form-item,
#header #search-block-form {
  margin: 0;
  padding: 0;
}

#header .block-search .container-inline div {
  display: block;
  float: left;
}

#header #search-block-form .form-text {
  background: #FFF;
  border: 1px solid #DDD;
  font-size: 1em;
  height: 28px;
  line-height: 28px;
  padding: 0 12px;
  width: 160px;
}

#header #search-block-form .form-submit {
  background: #DDD;
  border: 0;
  color: #7B7B7B;
  font-size: 1em;
  height: 30px;
  line-height: 30px;
  padding: 0 12px;
  vertical-align: top;
}

#header #search-block-form .form-submit:hover {
  background: #C00;
  color: #FFF;
}

/* --- User Blocks --- */
.block-user {
}

.block-user .form-item {
}

.block-user .form-item label {
 display: none;
}

.block-user .form-text {
  background: #000;
  border: 1px solid #1c1e1e;
  border-bottom: 1px solid #2e3131;
  color: #aaa;
  font-size: 0.917em;
  padding: 5px;
  width: 95%;
}

.block-user #edit-openid-identifier {
  width: 88%;
  margin-bottom: 5px;
}

.block-user .form-text:hover,
.block-user .form-text:active,
.block-user .form-text:focus {
  border: 1px  solid #fcce0a;
}

.block-user .item-list li {
  display: block;
}

.block-user p {
  margin: 0;
}

/* --- Poll Blocks --- */
.block-poll {
}

.block-poll .poll {
}

.block-poll .title {
  font-weight: bold;
  margin-bottom: 1em;
}

.block-poll .links {
  margin-top: .5em;
}

/* --- Book Blocks --- */
.block-book {
}

/* --- Quicktabs Blocks --- */
.block-quicktabs {
  border-bottom: 1px solid #323232;
}

#sidebar-second-wrapper .block-quicktabs {
  border-bottom: none;
  padding-bottom: 0;  
}

.block-quicktabs .block-inner .block-inner {
  margin: 0; /* Prevent extra padding in nested blocks */
  padding: 0;
}

.block-quicktabs .views-field-title {
   padding-bottom: 15px;
}

.block-quicktabs .views-field-title a {
  color:#c0c0c0;
  font-weight: bold; 
}

.block-quicktabs .views-field-title a:hover,
.block-quicktabs .views-field-title a:focus,
.block-quicktabs .views-field-title a:active {
  color: #fff;
  text-decoration: none;
}

.block-quicktabs .views-field-field-image {
  float: left;
  padding-right: 1.5em;
}

.block-quicktabs .views-field-field-image img {
  border: 1px solid #000;
}

.block-quicktabs .views-field-changed {
  font-style: italic;
}

.block-quicktabs .popular-view {
  padding-top: 15px;
}

.block-quicktabs .row-first .popular-view {
  padding-top: 0;
}

.block-quicktabs .popular-view .views-field-name {
  float: left;
  margin-right: 3px;
}


.block-quicktabs .popular-view .views-field-title {
  padding-bottom: 5px;
}

.block-quicktabs .popular-view .views-field-title a,
.block-quicktabs .our-product-view .views-field-title a {
  color: #ffcc00;
}

.block-quicktabs .popular-view .views-field-title a:hover,
.block-quicktabs .popular-view .views-field-title a:focus,
.block-quicktabs .our-product-view .views-field-title a:hover,
.block-quicktabs .our-product-view .views-field-title a:focus {
  color: #fff;
}

#sidebar-second-wrapper .block-quicktabs .block {
  margin-bottom: 0;
}

#sidebar-second-wrapper .quicktabs-ui-mollise .ui-tabs-panel {
  padding: 1.5em 8px 1em;
}

#sidebar-second-wrapper .photos-block {
  padding-bottom: 10px;
}

#sidebar-second-wrapper .photos-block .views-field-field-image {
  border: 1px solid #323232;
  padding-right: 0;
  margin-right: .5em;
}

#sidebar-second-wrapper .video {
  margin-bottom: .5em;
}

/* --- Views Blocks --- */
.block-views {
}

/**
 * Misc.
 */
 
/* Login Block - horizontal (theme setting) basic styles */
.lb-h {
  margin-top: 1px;
  min-width: 320px;
}

.region-header .lb-h {
  float: right;
}

 
.lb-h .block-inner,
.lb-h .block-content {
  background: none;
  padding: 0;
}

.lb-h #user-login-form {
  margin: 0;
}

.lb-h #user-login-form label {
  line-height: 1.2;
}

.lb-h .form-item {
  float: left;
  margin: 0;
}

.lb-h input.form-text {
  margin: 0 3px 0 0;
  width: 110px;
}

.lb-h #edit-actions {
  margin: 0;
}

.lb-h input.form-submit {
  margin: 0;
  position: absolute;
  top: 1.2em;
}

.lb-h .form-required,
.lb-h .item-list {
  display: none;
}

.lb-h h2 {
  display: none;
}

/* Skinr block title alignment */
.ta-l .block-title,
.ta-l .mini-panel-title {
  text-align: left;
}

.ta-r .block-title,
.ta-r .mini-panel-title {
  text-align: right;
}

.ta-c .block-title,
.ta-c .mini-panel-title {
  text-align: center;
}

/* Mini panels */
.mini-panel-title {
  margin: 0 10px;
}

/* Gpanel blocks */
.gpanel .block-inner {
}

.gpanel .block-title {
}

.gpanel .block-content {
}

#main-content .gpanel .block-inner {
}

#main-content .gpanel .block-title {
}

#main-content .gpanel .block-content {
}

/* Block wrapper for Mini Panels */
.block-panels_mini {
}

.block-panels_mini .block-inner {
}

.block-panels_mini .block-content {
}

.block-panels_mini .mini-panel-title {
  margin: 0 10px;
}

/* jcarousel */
.jcarousel-skin-default .jcarousel-container-horizontal {
  width: 940px;
  height: 180px;
  padding: 0;
}

.jcarousel-skin-default .jcarousel-clip-horizontal {
  width: 100%;
}

.jcarousel-skin-default .jcarousel-item-horizontal {
  margin: 0;
}

.jcarousel-skin-default .jcarousel-item {
  background: none;
  border: none;
  height: 180px;
  position:relative;
  margin: 0 7px;
}

.jcarousel-skin-default .views-field-title {
  background: #000;
  bottom: 0;
  text-align: center;
  font-size: 0.917em;
  padding: 15px 0;
  position:absolute;
  left:0;
  text-transform: uppercase;
  width: 100%;  
}

.jcarousel-skin-default .views-field-title a {
  color: #fff;
}

.jcarousel-skin-default .views-field-title a:hover,
.jcarousel-skin-default .views-field-title a:focus,
.jcarousel-skin-default .views-field-title a:active {
  text-decoration: none;
}

.jcarousel-skin-default .jcarousel-next-disabled, 
.jcarousel-skin-default .jcarousel-prev-disabled {}

.jcarousel-skin-default .jcarousel-next, 
.jcarousel-skin-default .jcarousel-prev {
  background: url(../images/arrows.png) 0 0 no-repeat; 
  height: 19px;
  width: 13px;  
}

.jcarousel-skin-default .jcarousel-next {
  background-position: 0 -19px;
}

.jcarousel-skin-default .jcarousel-prev-horizontal {
  left: -25px;
  top: 82px;
}

.jcarousel-skin-default .jcarousel-prev-horizontal:hover {
  background-position: 0 -38px;
}

.jcarousel-skin-default .jcarousel-next-horizontal {
  right: -25px;
  top: 82px;
}

.jcarousel-skin-default .jcarousel-next-horizontal:hover {
  background-position: 0 -57px;
}

/* mass bottom */
.mass-bottom .grid-inner {
  border-top: 1px solid #323232;
  padding: 15px 10px 7px 15px;
}

.mass-bottom .jcarousel-skin-default .jcarousel-container-horizontal {
  height: 84px;
  width: 615px;
}

.mass-bottom .jcarousel-skin-default .jcarousel-item {
  width: 141px;
  height: 84px;
  margin: 0 13px 0 0;
  padding-right: 4px;
}

.mass-bottom .jcarousel-skin-default .jcarousel-item img {
  border: 3px solid #000;
}

.mass-bottom .jcarousel-skin-default .jcarousel-next-horizontal {
  right: 0;
  top: -34px;
  left: auto;
  background-position: 0 -76px;
}

.mass-bottom .jcarousel-skin-default .jcarousel-next-horizontal:hover {
  background-position: 0 -114px;
}

.mass-bottom .jcarousel-skin-default .jcarousel-prev-horizontal {
  right: 17px;
  top: -34px;
  left: auto;
  background-position: 0 -95px;
}

.mass-bottom .jcarousel-skin-default .jcarousel-prev-horizontal:hover {
  background-position: 0 -133px;
}

.mass-bottom  .block-inner h2 {
  margin-top: 0;
  margin-bottom: 0.833em;
}

/* newsletter */
.form-newsletter {
  margin: 0;
}

.form-newsletter fieldset {
  border: none;
  border-bottom: 1px solid #2e3131;
  background: #000 !important;
  margin: 0;
  padding: 0 !important;
  height: 31px;
}

.form-newsletter .form-text {
  background: none;
  border:none;
  color: #666;
  float:left;
  padding: 7px 4px 0 10px;
  width: 170px;
}

.form-newsletter .form-submit {
  background: #ffcc00;
  border:none;
  height: 31px;
  cursor: pointer;
  color: #000;  
  font-size: 0.917em;
  float: right;
  text-transform: uppercase;
  width: 33px;
}

/* message */
div.error, table tr.error {
  background-color: #2c2c2c;
}

div.error {
  border: 1px solid #323232;
  color: #949494;
}

