/**
 * 
 * TODO: check classes still apply in D7 - in particular the unpublished classes and the extra classes.
 */
 
/* Comment wrapper */
#comments {
  
}

#comments h2 {
  border-top: 1px solid #323232;
  margin-bottom: 1em;
  margin-top: 1.25em;  
  padding-top: 1.25em;
  text-transform: uppercase;
  font-size: 1.167em;
}

#comments > h2:first-child {

}

/* Individual comment */
.comment {
  background: #2c2c2c;
  border: 1px solid #353535;
  color: #7b7d80;
  margin-bottom: 1.667em;
  padding: 15px;
}

/* Indentation */
#comments .indented {
  background: url(../images/indent-tree.gif) no-repeat left top;
  margin-bottom: 1em;
  margin-left: 0;
  padding-left: 30px;
}

#comments .indented .comment {
}

/* Comment Title */
.comment > .header {
}

.comment-title {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

.comment-title a {
  color: #fff;
}

.comment-title a:hover,
.comment-title a:active,
.comment-title a:focus {
  color: #fcce0a;
  text-decoration: none;
}

/* Skinr comment title alignment. */
.ta-l .comment-title {
  text-align: left;
}

.ta-r .comment-title {
  text-align: right;
}

.ta-c .comment-title {
  text-align: center;
}

/* Comment "new" title */
.comment-title .new {
  color: #F80;
}

/* User Picture */
.comment .user-picture {
}

.comment .user-picture img {
}

/* Comment Content */
.comment-content {
}

/* Submitted */
.comment > .footer {
  color: #aaa;
  font-size: 0.833em;
  margin: .5em 0 1em;
  text-transform: uppercase;
}

.comment > .footer .username {
}

.comment > .footer .time {
}

.comment > .footer a {
  color: #fcce0a;  
}

.comment > .footer a:hover,
.comment > .footer a:active,
.comment > .footer a:focus {
  color: #fff;
  text-decoration: none;
}

/* Links */
.comment .comment-links {
  margin-top: 0;
}

.comment ul.links {
  display: block;
  margin: 0;
  padding: 0;
}

.comment ul.links li {
  margin: 0 0.455em 0 0;
  padding: 0;
}

.comment ul.links li a {
  background:url(../images/bg-readmore.gif) 0 0 repeat-x;
  border: 1px solid #010101;
  color: #fff;
  display: inline-block;
  font-size: 0.917em;
  padding: 5px 10px; 
  text-transform: uppercase; 
  vertical-align: middle;
}

.comment ul.links li a:hover,
.comment ul.links li a:focus {
  background-position: 0 -32px;
  color: #FFF;
  text-decoration: none;
}

/* Core comment link classes. */
ul.links li.comment_reply a {
}

ul.links li.comment_edit a {
}

ul.links li.comment_delete a {
}

.comment ul.links li.first {
}

.comment ul.links li.last {
}

/**
 * Different status for comments
 */
 
/* Author */
.comment-by-anonymous {
}

.comment-by-node-author {
}

.comment-by-viewer {
}

/* New */
.comment-new {
}

/* Unpublished */
.comment-unpublished {
}
.comment-unpublished .unpublished {
}

/**
 * Comment Form
 */
 
.comment-form-wrapper h2 {
}
 
.comment-form-wrapper form#comment-form {
}

#comment-form .form-item label {
  margin-bottom: 3px;
}

#comment-form .form-text {
  width: 215px;
}

.resizable-textarea .grippie {
  background: #323232;
  border: 1px solid #323232;
}

#comment-form .username {
  color: #fcce0a;
  font-size: 0.917em;
}

#comment-form .username:hover,
#comment-form .username:active,
#comment-form .username:focus {
  color: #fff;
  text-decoration: none;
}