/* search */
#search-block-form {
  border-radius : 1px;
  -webkit-border-radius : 1px;
}

.form-newsletter fieldset {
  border-radius : 5px;
  -webkit-border-radius : 5px;
}

.form-newsletter .form-submit {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#search-block-form span.button input.form-submit {
  box-shadow: none;
}

/* superfish menu */
.sf-menu.sf-style-mollise ul {
  box-shadow : 0;
  border-radius : 0;
}

/* readmore */
.readmore a, 
.views-field-view-node .field-content,
span.button input.form-submit,
.article ul.links li a,
.comment ul.links li a,
.page-blog ul.action-links li a {
  box-shadow: 0 0 5px #111;
  -webkit-box-shadow: 0 0 5px #111;
  border-radius : 5px;
  -webkit-border-radius : 5px;
}

ul.pager li a {
  box-shadow: 0 0 3px #111;
  -webkit-box-shadow: 0 0 3px #111;
  border-radius : 3px;
  -webkit-border-radius : 3px;
}

.item-list ul li.pager-current {
  border-radius : 3px;
  -webkit-border-radius : 3px;
}

/* Quicktabs */
.quicktabs-style-mollise ul.quicktabs-tabs li a {
  box-shadow: 0 0 5px #111;
  -webkit-box-shadow: 0 0 5px #111;
  border-radius : 5px;
  -webkit-border-radius : 5px;
}

.quicktabs-style-mollise ul.quicktabs-tabs li.active a {
  box-shadow: inset 0 0 5px #0f1011;
}

.quick-accordion-mollise .ui-accordion-header {
  border-radius: 5px;
  -webkit-border-radius : 5px;
}

.quicktabs-ui-mollise .ui-tabs-nav {
  border-radius: 5px 5px 0 0;
  -webkit-border-radius : 5px 5px 0 0;
}

.tabs, ul.primary li a,
ul.secondary li a {
  border-radius: 5px 5px 0 0;
  -webkit-border-radius : 5px 5px 0 0;
}