form {
  margin: 0 0 1em;
  padding: 0;
}

input,
textarea,
select {
  border: 1px solid #CCC;
  margin: 0;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif; /* Need to define font-family */
}

fieldset {
  background: transparent;
  border: 1px solid #CCC;
  margin: 10px 0;
  padding: 10px;
}

fieldset fieldset:last-child {
  margin-bottom: 0;
}

legend {
  font-weight: bold;
}

/**
 * Drupal Form
 */
.form-wrapper {
}

.form-wrapper span.button {
  margin-right: 5px;
}

.form-item,
.form-action {
  margin-bottom: 10px;
  margin-top: 10px;
}

.form-item label {
  font-weight: normal;
}

.form-item label.option {
}

.description,
.form-item .description {
}

.form-item .description,
fieldset .description,
.fieldset-layout-settings dd {
  font-size: 0.92em;
  color: #7B7B7B;
}

span.form-required,
span.marker {
  color: #fcce0a;
}

ul.tips {
}

ul.tips li {
  margin-bottom: 5px;
}

ul.tips li pre {
  word-wrap : break-word;
}

.sticky-table pre,
.sticky-table code {
  word-wrap : break-word;
}

html.js fieldset.collapsible .fieldset-legend {
  background: url(../images/menu-expanded.png) no-repeat 5px 65%;
  padding-left: 15px;
}

html.js fieldset.collapsed .fieldset-legend {
  background-image: url(../images/menu-collapsed.png);
  background-position: 5px 50%;
}

html.js fieldset.collapsible a:hover,
html.js fieldset.collapsible a:active,
html.js fieldset.collapsible a:focus {
  text-decoration: none;
}

/* --- Text Inputs --- */
.form-text,
textarea {
  background: #010101;
  border: 1px solid #303030;
  color: #7b7d80;
  height: auto;
  padding: 4px;
  box-sizing: border-box;
  font-size: 0.917em;
}

.form-text:hover,
.form-text:focus,
textarea:hover,
textarea:focus {
  border: 1px solid #1c1e1e;
}

.form-item input.error, .form-item textarea.error, .form-item select.error {
  color: #7B7D80;
  border: 1px solid #fcce0a;
}

.container-inline .form-item input {
	vertical-align: middle;
}

/* --- Buttons --- */
input.form-submit,
a.button {
  padding: 2px 10px;
}

input.form-submit:hover,
input.form-submit:focus,
a.button:hover,
a.button:focus {
}

span.button {
}

span.button input.form-submit {
  background:url(../images/bg-readmore.gif) 0 0 repeat-x;
  border: 1px solid #010101;
  color: #999;
  cursor: pointer;
  font-size: 0.917em;
  text-transform: uppercase; 
  padding: 5px 10px; 
  vertical-align: middle;
}

span.button input.form-submit:hover,
span.button input.form-submit:focus {
  background: #000;
  border-bottom: 1px solid #2E3131;
  color: #FFF;
}

/* --- Checkbox --- */
.form-type-checkbox label {
}

input.form-checkbox {
  border: 0;
}

.form-type-checkbox .description {
  margin-left: 0;
}

/* --- Radio --- */
.form-type-radio label {
}

input.form-radio {
  border: 0;
}

.form-type-radio .description {
  margin-left: 0;
}

/* --- Selects --- */
select,
.form-select {
}

/* --- Fieldsets --- */
fieldset {
  background: transparent;
  border: 1px solid #323232;
  margin: 10px 0;
  padding: 10px;
}

fieldset fieldset:last-child {
  margin-bottom: 0;
}

*:first-child+html fieldset {
  background-color: transparent;
  background-position: 0 10px;
  padding: 0 10px 10px;
}

*:first-child+html fieldset > .description,
*:first-child+html fieldset .fieldset-wrapper .description {
  padding-top: 10px;
}

legend.fieldset-legend {
}

fieldset legend {
  display: block;
  font-weight: 400;
  padding: 0 10px 0 0;
}

*:first-child+html fieldset legend,
*:first-child+html fieldset.collapsed legend {
  display: inline;
}

html.js fieldset.collapsed {
  background: transparent;
  padding-top: 5px;
  border: 1px solid #323232
}

/* --- Misc. --- */
.hide-label label {
  background: none;
  display: none;
}

.exposed-filters .form-item {
  margin-bottom: 10px;
  margin-top: 0;
}

#article-admin-filter ul {
  padding: .5em 0;
}

#edit-operation-wrapper select {
  margin: .5em;
}

div.resizable-textarea textarea {
  margin-top: 0;
}

/** 
 * Specific Forms
 */

/* --- Search --- */
#search-block-form {
  border: 1px solid #eaeaea;
  margin: 0;
  width: 185px;
  height: 22px;
  position:relative;
}

#search-block-form .container-inline div {
  float: left;
}

#search-block-form .form-item {
  margin: 0;
  width: 155px;
}

#search-block-form #edit-actions { 
  width: 30px; 
}

#search-block-form .form-wrapper span.button {
  margin: 0;
}

#search-block-form span.button input.form-submit {
  background:url(../images/btn-search.png) 0 0 no-repeat;
  border:none;
  cursor: pointer;
  height: 22px;
  margin: 0;
  padding:0;
  overflow:hidden;
  width: 30px;
  float:none;
}

#search-block-form #edit-actions { display:block; width: 30px; float:left; }

#search-block-form > div {
}

#search-block-form .container-inline{
}

#edit-search-block-form-1-wrapper {
}

#search-block-form label {
}

#search-block-form input {
}

#search-block-form .form-submit {
}

#search-block-form .form-text {
  background: none;
  border:none;
  height: 20px;
  margin:0;
  padding: 2px 30px 0 5px;  
  width: 120px;
}

#search-block-form.active {
  background: #141a1e;
}

#search-block-form.active .form-text {
  color: #fff;
}

#search-block-form.active span.button input.form-submit {
  background:url(../images/btn-search.png) 0 -22px no-repeat;
}

/* Advanced search form */
fieldset#edit-advanced fieldset {
  float: left;
  margin: 0 10px 10px 0;
}

fieldset#edit-advanced fieldset .fieldset-legend {
  background: none;
  padding-left: 1em;
}

.advanced-search-submit {
  clear: both;
}

.search-advanced .criterion {
  float: none;
  margin: 0 5px;
}

#edit-keywords-fieldset .form-item:first-child {
  margin-top: 5px;
}

#search-form {
  margin: 10px 0;
}

#search-form > div {
}

#search-form .container-inline {
}

#search-form label {
}

#search-form input {
}

#search-form .container-inline {
  overflow: hidden;
}

#search-form .form-item-keys { 
  display: block;
  float: left;
  margin-top: 0;
}

#search-form .form-item-keys label {
  display: block; float:left;
  margin-right: 5px;
  padding-top: 4px;
}

#search-form .form-item-keys input.form-text {
  float: left;
  margin-right: 5px;
  padding: 6px 5px;
  width: 150px;
}

#search-form .form-item {
}

#search-form .form-submit {
}

.form-checkboxes .form-item {
  overflow: hidden;
}

.form-checkboxes .form-item input.form-checkbox {
  float: left;
  margin: 2px 5px 0 0;
}

.form-checkboxes .form-item label.option {
  display: block;
  float: left;
  padding: 1px 0 0 0;
}

/* --- User login --- */
#user-login-form .form-item-name {
}

#user-login-form .form-item-pass {
}

#user-login-form .form-action {
}

#user-login-form ul {
  margin: 0;
  padding: 0;
}

#user-login ul {
  margin: 0 0 5px;
}

#user-login ul li {
  margin: 0;
}

#user-login-form .item-list li, 
#user-login-form li.openid-link {
  list-style: none;
  margin: 0;
  background: none;
  padding-left: 0;
  font-size: 0.917em;
}

#user-login-form .item-list li a:hover,
#user-login-form .item-list li a:active,
#user-login-form .item-list li a:focus {
  text-decoration: none;
}

#user-login li.openid-link {
  background: none;
  padding-left: 0;
}

#user-login-form li.openid-link a {
  background: none;
  padding-left: 0;
}

#user-admin-filter ul li,
#article-admin-filter ul li {
  list-style: none;
}

/* --- Tips overrides --- */
.field-type-text-long fieldset {
  padding: 10px 0;
  border: 1px solid #323232;
}

.field-type-text-long fieldset .form-item {
  margin: 0;
  padding: 0 0 0 15px;
}

fieldset .filter-help {
  padding: 0 10px 5px 5px;
  text-align: right;
}

fieldset .filter-help a {
  padding: 2px 20px 2px 0; 
}

.filter-wrapper .form-item label {
  margin-right: 3px;
}

.filter-guidelines {
  font-size: .923em;
  margin: 0;
  padding: 10px 18px 0 10px;
}

/* --- Special case modules --- */
#devel-switch-user-form {
  margin-bottom: 0;
}

/* --- Uder Login --- */
#user-login label,
#contact-site-form label {
  margin-bottom: 3px;
}

#user-pass .form-text,
#contact-site-form .form-text {
  width: 215px;
}

#user-login .form-text {
  width: 215px;
  margin-bottom: 3px;
}
