#forum {
  background: #fff;
  color: #202020;
  width: 100%;
}

.page-forum #page-title {
  margin-bottom: 10px;
}

.page-forum #main-content .grid-inner {
  background: #424242;
  border-bottom: 1px solid #323232;
  margin: 0 10px 2.5em;
  padding: 15px;
}

#forum .name {
  font-weight: bold;
}

#forum .description {
  color: #1c1e1e;
  font-size: .92em;
}

/* Forums Table */
#forum table {
  width: 100%;
}

#forum tr.even td,
#forum tr.odd td {
  background: none;
  border-bottom: 1px dotted #cecece;
}

#forum tr.odd {
  background: #fefefe;
}

#forum thead tr {
  background: #333;
}

#forum thead th {
  background: #292929;
  text-transform: uppercase;
}

#forum thead th a {
}

#forum thead th.active {
}

#forum td {
  padding: 1.5em 5px;
}

#forum td a {
  color: #292b2c;
}

#forum td.topics,
#forum td.posts,
#forum td.replies,
#forum td.created,
#forum td.last-reply {
  font-size: 1em;
}

/* Forums Head */
#forum tr td.container {
  background: #fdfdfd;
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  padding: 1.5em 5px 1.5em 6em;
}

#forum tr td.container a {
  color: #fcce0a;
}

#forum tr td.container a:hover,
#forum tr td.container a:focus {
  color: #1c1e1e;
  text-decoration: none;
}

#forum tr td.container .name {
  font-size: 1.15em;
}

#forum tr td.container .description {
}

/* Forums List */
#forum td.forum {
  width: 60%;
}

#forum tr.new-topics td.forum {
}

#forum td.forum .name { 
}

#forum tr.new-topics td.forum .name {
  background-image: url(../images/forum-default.png);
}

#forum td.forum .name a {
  font-size: 1.167em;
}

#forum td.forum .description {
}

#forum td.topics {
  background: #f9f9f9 !important;
  text-align: center;
}

#forum td.posts {
  text-align: center;
}

/* Topic List */
#forum td.title {
}

#forum td.title a {
}

#forum td.title .submitted {
  font-size: .92em;
}

#forum td.replies {
}

#forum td.last-reply {
  text-align: center;
}

#forum td.last-reply .submitted a {
  color: #fcce0a;
  font-weight: bold;
}

#forum td.last-reply .submitted a:hover,
#forum td.last-reply .submitted a:focus { 
  color: #202020;
  text-decoration: none;
}

/* Forums Indent */
#forum div.indent {
  margin-left: 6em;
}

/* Forums Icons */
#forum .icon div {
  background-image: url(../images/forum-icons.png);
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
}

#forum .icon .topic-status-new {
  background-position: -24px 0;
}

#forum .icon .topic-status-hot {
  background-position: -48px 0;
}

#forum .icon .topic-status-hot-new {
  background-position: -72px 0;
}

#forum .icon .topic-status-sticky {
  background-position: -96px 0;
}

#forum .icon .topic-status-closed {
  background-position: -120px 0;
}

/* Forums Action Links */
.page-forum ul.action-links {
  margin: 0 0 2em;
  padding: 0;
}

.page-forum ul.action-links li {
  margin: 0;
}

.page-forum ul.action-links li a {
  background: url("../images/bg-readmore.gif") repeat-x scroll 0 0 transparent;
  border: 1px solid #010101;
  color: #FFFFFF;
  display: inline-block;
  font-size: 0.917em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 10px;
  vertical-align: middle;
}

.page-forum ul.action-links a:hover, 
.page-forum ul.action-links a:active, 
.page-forum ul.action-links a:focus {
  background: #000;
  color: #FFF;
  text-decoration: none;
}