@import url(../fonts/oswald_regular/stylesheet.css);
@import url(../fonts/ronda/stylesheet.css);
html {
  font-size: 62.5%; /* Change base font-size to 10px. */
}

body {
  background: #1c1e1e;
  color: #949494;
  line-height: 1.5; /* Unit-less line-height means line height can scale. */
}

/* Headings */
h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
}

h3 		{
  font-size: 1.167em;
}

h4 {
  font-size: 1em;
}

h5, h6 {
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
  margin: 1em 0 .833em;
}

p {
  margin: 1em 0;
  padding: 0;
}

p:first-child {
  margin-top: 0;
}

em,
dfn {
  font-style: italic;
}

ins {
  border-bottom: none;
  text-decoration: none;
}

pre,
code,
tt,
samp,
kbd,
var {
  font-size: 1em;
}

blockquote,
q {
  font-style: italic;
  quotes: "" "";
}

blockquote {
  margin: 0 0 1.5em;
  padding: 0 0 0 3em;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

blockquote p {
  margin: 0;
}

strong,
dfn,
caption,
th {
  font-weight: bold;
}

/* Reset horizonatal rules */
hr {
  border-style: inset;
  border-width: 1px;
  display: block;
}

/* Lists */
ul,
ol {
  margin: 0 0 1.5em 2em;
  padding: 0;
}

ol {
  margin-left: 2em;
}

.item-list ul,
.item-list ol {
  margin: 0 0 0 1em;
  padding: 0;
}

ul ul,
ul ol,
ol ol,
ol ul,
.block ul ul,
.block ul ol,
.block ol ol,
.block ol ul,
.item-list ul ul,
.item-list ul ol,
.item-list ol ol,
.item-list ol ul {
  margin-bottom: 0;
}

ul {
  list-style-type: disc;
}

ul ul ul {
  list-style-type: square;
}

ol {
  list-style-type: decimal;
}

ol ol {
  list-style-type: lower-alpha;
}

ol ol ol {
  list-style-type: lower-roman;
}

ul ul,
ul ul ul ul {
  list-style-type: circle;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 1.5em 1.538em;
}

/* Common Tables ---*/
table {
  font-size: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

table.sticky-header {
  z-index: 5;
}

.sticky-table { 
  margin-bottom: 1em;
}

/* Table Head */
thead {
}

th {
  border-bottom: 0;
  background: #101010;
  color: #FFF;
  padding: .75em 1em;
}

th a {
  color: #FFF;
}

th a:hover,
th a:active,
th a:focus {
  color: #FFF;
}

thead th {
}

/* Table Body */
tbody {
}

td {
  padding: .75em 1em;
}

tr.even,
tr.odd {
  background-color: transparent;
  border-bottom: 0
}

tr.even td,
tr.odd td {
  border-bottom: 1px dotted #353535;
  background-color: #2c2c2c;
}

tr.odd,
tr.info {
}

tr.even {
  background-color: transparent;
}

tr.drag {
}

tr.drag-previous {
}

tr.odd td.active {
}

tr.even td.active {
}

td.region,
td.module,
td.container td.category {
}

th.active img {
  margin-left: 5px;
}
