/**
 * IE Compatibility Tweaks
 */
 
/* blocks.css */
.block-user .item-list li {
  display: inline;
  zoom: 1;
}

#user-login-form .item-list li {
  display: block;
}

#user-login-form li.user-link {
  display: none;
}

/* forms.css */
input.form-submit {
  overflow: visible; /* IE Fix */
}

input.form-submit,
a.button {
  padding: 3px 10px;
}

#comment-form .filter-wrapper {
  padding-top: 1em;
}

/* fields.css */
.field-type-taxonomy-term-reference ul li {
  display: inline;
  zoom: 1;
}

#search-block-form .form-text {
  height: 21px;
  line-height: 21px;
  padding: 1px 30px 0 5px;  
}

.form-checkboxes .form-item input.form-checkbox {
  margin-top: 0;
}
