/**
 * IE 7 Compatibility Tweaks
 */
 
/* forms.css */
input.form-submit,
a.button {
}

#comment-form textarea {
}

#comment-form .form-textarea-wrapper {
}

/* navigation */
#slideshow-wrapper {
  position: relative;
  z-index: 1;
}

#header-wrapper {
  position: relative;
  z-index: 5;
}

div.resizable-textarea textarea {
  margin-top: 0;
  padding: 5px 3px 5px 4px;
  width: 98%;
}