/* --- Common Links --- */
a {
  color: #999;
  text-decoration: none;
}

a:visited {
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

a:active,
a:focus {
  text-decoration: underline;
}

/* Any menu block in the menu-bar region */
.nav {
  clear: both;
  margin: 0;
}

.nav li,
.nav .menu li {
  display: inline;
  float: left;
  list-style: none;
}

.nav li a,
.nav .menu li a {
  display: block;
  padding: 0 10px;
  white-space: nowrap;
}

.nav ul,
.nav ul.menu,
.nav ul.menu li {
  margin: 0;
  padding: 0;
}

.nav .block {
  margin: 0;
  padding: 0;
}

/* --- Default Drupal Menu --- */
.block ul.menu {
  font-weight: bold;
}

.block ul.menu ul {
  font-weight: normal;
}

.block ul.menu li {  
  border-bottom: 1px dotted #525252;
  list-style-image: none;
  list-style-type: none;
  margin: 0;  
}

ul.menu li.expanded,
ul.menu li.collapsed,
ul.menu li.leaf {
}

.block ul.menu li a {
  background: url(../images/plus.png) 0 1em no-repeat;  
  color: #aaa;
  display: block;
  padding: 0.5em 1.166em;
}

.block ul.menu li li a {
  background-image: url(../images/arrow-6.png);
  background-position: 0 1em;
  background-repeat: no-repeat;
  padding-left: 1.5em;
}

.block ul.menu li a:visited {
}

.block ul.menu li a:hover,
.block ul.menu li a:focus,
.block ul.menu li a:active {
  color: #FCCE0A;
  text-decoration: none;
}

.block ul.menu li li a:hover,
.block ul.menu li li a:focus,
.block ul.menu li li a:active {
}

/* Expanded Items */
.block ul.menu li.expanded {
}

.block ul.menu li.expanded li.expanded {
}

.block ul.menu li.expanded li.expanded a {
}

.block ul.menu li.expanded ul {
}

.block ul.menu li.expanded ul ul {
}

/* Collapsed Item */
.block ul.menu li.collapsed {
}

.block ul.menu li li.collapsed a,
.block ul.menu li.expanded li.collapsed a {
}

/* Leaf Items */
.block ul.menu li.leaf a {
}

.block ul.menu li.expanded li.leaf {
  padding-left: 1.5em;
}

.block ul.menu li.expanded li.leaf a {
}

/* Active Items */
.block ul.menu li.active-trail > a,
.block ul.menu li > a.active {
  color: #fcce0a;
}

.block ul.menu li.leaf a.active {
}

.block ul.menu li li a.active {
}

.block ul.menu li li li a.active {
}

/* Misc. Items */
.block ul.menu li.first {
}

.block ul.menu li.last {
  border-bottom: 0;
}

.block ul.menu li.expanded li.first {
  border-top: 1px dotted #525252;
}


.block ul.menu li.content {
  padding: 0;
}

/* --- Breadcrumb --- */
#breadcrumb-wrapper h2 {
  color: #8f8f8f;
  display: block;
  float: left;
  font-size: 1em;
  font-weight: bold;
  margin: 0 .5em 0 0;
  padding: .15em .5em;
  position: relative !important;
}

#breadcrumb-wrapper ol {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}

#breadcrumb-wrapper ol li {
  display: block;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

#breadcrumb-wrapper ol li span {
  display: block;
  float: left;
  text-align: center;
  width: 20px;
}

#breadcrumb-wrapper ol li a {
  display: block;
  float: left; 
}

#breadcrumb-wrapper ol li a:hover,
#breadcrumb-wrapper ol li a:focus,
#breadcrumb-wrapper ol li a.active {
  text-decoration: none;
  color: #FFCC00;
}

#breadcrumb-wrapper .container { 
  padding: 0 1em;
}

#breadcrumb-wrapper .grid-inner {
  border-bottom: 1px solid #303232;
  border-top: 1px solid #303232;
  margin: 0 10px;
  padding: 10px 0;
}

/* --- Seconday Menu (User Menu) --- */
#secondary-menu {
  clear: right;
  text-align: right;
  padding-top: .75em;
  display: block;
}

#secondary-menu ul {
  margin: .5em 0 0 0;
}

#secondary-menu ul li {
  display: inline;
  margin: 0;
  padding: 0 0 0 .5em;
}

#secondary-menu ul li a {
}

#secondary-menu ul li a:hover,
#secondary-menu ul li a:active,
#secondary-menu ul li a:focus {
}

/* --- Footer Menu --- */
#menu-footer-wrapper ul.menu {
  float: left;
  margin: 0;
  padding: 10px 0;
}

#menu-footer-wrapper ul.menu li {
  background: url(../images/bg-li-footer.gif) 100% 50% no-repeat;
  display: block;
  float: left;
  font-family: oswaldregular;
  margin: 0 8px 0 0;
  padding: 0 8px 0 0;
}

#menu-footer-wrapper ul.menu li.last {
  background: none;
}

#menu-footer-wrapper ul.menu li a {
  padding: 5px 20px;
  display: block;
  float: left;
  text-transform: uppercase;
}

#menu-footer-wrapper ul.menu li a:hover,
#menu-footer-wrapper ul.menu li a:active,
#menu-footer-wrapper ul.menu li a:focus {
  color: #fff;
  text-decoration: none;
}

#menu-footer-wrapper ul.menu li a.active {
  background: #000;
  color: #ffcc00;
}

#menu-footer-wrapper .logo {
  float: right;
  margin: 1em 0;
}

/* --- Pager --- */
div.pager {
}

.item-list ul.pager, 
ul.pager {
  clear: both;
  margin: 0;  
  text-align: left;
}

.item-list ul.pager li {
  margin: 0 3px 0 0;
  padding: 0;
}

ul.pager li {
  background-image: none;
  display: inline-block;
  font-size: .92em;
  line-height: normal;
  list-style-type: none;
  margin: 0 3px;
  padding: 0;
}

ul.pager li a,
ul.pager li span {
  display: inline-block;
  padding: 3px 7px;
}

ul.pager li a {
  background:url(../images/bg-readmore.gif) 0 0 repeat-x;
  border: 1px solid #010101;
  color: #a2a2a2;
  text-transform: uppercase; 
}

ul.pager li a:visited {
}

ul.pager li a:hover,
ul.pager li a:active,
ul.pager li a:focus {
  background: #ffcc00;
  border: 1px solid #ffcc00;
  color: #000;
  text-decoration: none;
}

.item-list ul li.pager-current {
  background: #000;
  border: 1px solid #010101;
  padding: 3px 7px;
}

ul.pager li a.active {
}

ul.pager li.pager-item {
}

ul.pager li.first {
}

ul.pager li.last {
}

ul.pager li.pager-current span {
  background: #C00;
  color: #FFF;
}

ul.pager li.pager-first {
}

ul.pager li.pager-previous {
}

ul.pager li.pager-next {
}

ul.pager li.pager-last {
}

/* Pager List */
ul.pager-list {
}

/* Pager Links */
ul.pager-links {
  margin-top: 5px;
}

/* --- Items List --- */
.item-list ul {
  margin: 0;
  padding: 0;
}

.item-list ul li {
  background: url(../images/bullet.png) no-repeat 5px 9px;
  list-style: none;
  margin: 0;
  padding: 3px 0 3px 15px;
}

.item-list ul li a {
}

.item-list ul li a:hover,
.item-list ul li a:active,
.item-list ul li a:focus {
}

/* --- Links --- */
.links a {
}

ul.links {
}

ul.links li {
}

ul.links li a {
}

/* --- Action Links --- */
ul.action-links {
  list-style: none;
  margin: 5px;
  padding: 0.5em 1em;
}

ul.action-links li {
  display: inline-block;
  margin-left: 10px;
}

ul.action-links li a {
  background: url(../images/arrow-6.png) no-repeat left center;
  margin: 0 10px 0 0;
  padding-left: 15px;
}

/* --- More Links --- */
.more-link {
}

.more-link a {
}

/* SUPERFISH
----------------------------------------------------*/
.sf-menu {
}

.sf-menu a {
  padding: .5em 1em;
  text-decoration: none;
}

.sf-menu > li > a {
}

.sf-menu li {
  background: transparent;
}

.sf-menu li li {
}

.sf-menu li li li {
}

.sf-menu li li li li {
}

.sf-menu li:hover,
.sf-menu li.sfHover,
.sf-menu a:focus,
.sf-menu a:hover,
.sf-menu a:active {
  outline: 0;
}

/* --- Supperfish --- */
.block-superfish .block-inner,
.block-superfish .block-inner .block-content {
  margin: 0;
  padding: 0;
}

.block-superfish ul,
.block-superfish ul ul,
.block-superfish ul ul ul,
.block-superfish ul ul ul ul,
.block-superfish li {
  margin: 0;
  padding: 0;
}

.sf-vertical,
.sf-vertical li {
  width: 100%;
}

.sf-vertical li:hover ul,
.sf-vertical li.sfHover ul {
  left: 100%; /* match ul width */
  margin: 0;
  padding: 0;
  top: 0;
}

ul.sf-navbar {
  padding-bottom: 0 !important; /* Height for navbar */
}

/**
 * Tabs
 */
 
/* --- System Tabs --- */
div.tabs {
  overflow: hidden;
}

ul.primary {
  line-height: normal;
  border:none;
  background: #010101;
  margin: 0 0 1em;
  padding: 10px 5px 0 5px;
  overflow:hidden
}

ul.primary li {
  margin: 0 3px 0 0;
  display: block;
  float:left;
}

ul.primary li a {
  background: #2c2c2c;
  border: none;
  display:block;
  float:left; 
  margin: 0;
  padding: 5px 7px;
  font-size: 0.917em;
  text-transform: uppercase;
}

ul.primary li a:hover {
  background-color: #1c1e1e;
  color: #FFCC00;
}

ul.primary li.active a {
  background-color: #1c1e1e;
  color: #FFCC00;
  border: none;
}

.local-tasks ul.primary li a:hover {
  background-color: transparent;
  color: #fff;
}

.local-tasks ul.primary li.active a {
  background-color: #FFF;
}

ul.secondary {
  border-bottom: 1px solid #323232;
  margin: 1em 0 0;
  padding: 0 .3em 1em;
  line-height: normal;
  border:none;
  background: #010101;
  margin: 0 0 1em;
  padding: 10px 5px 0 5px;
  overflow:hidden
}

ul.secondary li {
  margin: 0 3px 0 0;
  display: block;
  border:none;
  padding:0;
  float:left;
}

ul.secondary li a:hover,
ul.secondary li a.active {
  border-bottom: none;
  color: #999;
  text-decoration: underline;
}

ul.secondary li a {
  background: #2c2c2c;
  border: none;
  display:block;
  float:left; 
  margin: 0;
  padding: 5px 7px;
  font-size: 0.917em;
  text-transform: uppercase;
}

ul.secondary li a:hover {
  background-color: #1c1e1e;
  color: #FFCC00;
}

ul.secondary li.active a {
  background-color: #1c1e1e;
  color: #FFCC00;
  border: none;
}

/**
 * Misc.
 */
 
#tasks {
  margin-bottom: 1em;
}

/* Skip Navigation */
#skip-link {
}

#skip-link a,
#skip-link a:visited {
}

#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
}

/* Back To Top */
a.btn-btt {
  background: #333;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  padding: 6px 12px;
  position:absolute;
  right: 0;
  top: -5px;
}

a.btn-btt:hover,
a.btn-btt:active,
a.btn-btt:focus {
  background: #ffcc00;
  color: #000;
  text-decoration: none;
}

/* Contextual Links */
.contextual-links-wrapper ul {
}

.contextual-links-wrapper ul li {
  background-image: none;
}

/* Feed Icon */
a.feed-icon {
  display: inline-block;
  margin-top: 1.5em;
}

a.feed-icon img {
  margin: 0;
  padding: 0;
}
