.wrapper {
}

.wrapper .container {
}

/* Grid Gutter */
.grid {
}

.grid-inner {
	padding: 0 10px;
}

.grid .grid-inner {
}

.region-content .block {
}

.sidebar .block {
  margin-bottom: 21px;
}

/**
 * Main Containner
 */
#main-wrapper {
}

.front #main-wrapper .container,
#main-wrapper .page-title-wrap .container {
  border-bottom: none;
  padding: 0;
  margin-bottom: 0;
}

#main-wrapper .container {
	border-bottom: 1px solid #323232;
	padding: 34px 0 0 0;	
}

.not-front #main-wrapper .container {
  border-bottom: none;
}

#main-wrapper .container-inner {
  float: right;
}

/**
 * Header top
 */
#header-top-wrapper {
  background: #fff;
}

#header-top-wrapper .grid-inner {
  padding-bottom: 6px;
  padding-top: 6px;
}
/**
 * Header
 */
#header-wrapper {
  background: #141a1e;
  position: relative;
}

.accordion { 
  background: url(../images/overlay_trigger.png) 0 0 no-repeat;
  width: 31px; 
  height: 15px; 
  position:absolute; 
  right: 30px; 
  top: 0; 
  text-indent: -999em; 
  overflow:hidden; 
}

.accordion.active { 
  background-position: 0 -25px;
}

#header-wrapper .container {
	padding: 10px 0;
}

#header {
	clear: both;
}

/* Logo & Site name */
#logo {
	display:block;
	float: left;
	margin: 5px 10px 5px 0;
}

#name-and-slogan {
	float: left;
	line-height: 1.2;
	padding: 15px 0 0 0;
}

.site-name {
	color: #fff;
	margin: 0;
	font-size: 3em;
	font-family: 'rondamedium';
	font-weight: normal;
	line-height: 100%;
	text-transform: uppercase;
}

.site-name a {
	color: #fff;
	text-decoration: none;
}

.site-name a:visited {
}

.site-name a:hover,
.site-name a:focus,
.site-name a:active {
	color: #fff;
	text-decoration: none;
}

.site-slogan {
	color: #fff;
	font-size: 0.75em;
	font-weight: bold;
	margin: 0 0 3px 0;
	padding: 0;
	text-transform: uppercase;
	text-align: right;
}

/* Region */
.region-header {
  float: right;
  margin-top: 3em;
}

/**
 * Main Navigation
 */
#menu-bar-wrapper {
  float: right;
  padding: 36px 0 0 0;
  position: relative;
  width: 70%;
  z-index: 499; /* Drupal toolbar index is 600 */
  
}

#menu-bar-wrapper .menu-bar {
  position: relative;
}

#menu-bar-wrapper .region-menu-bar {
	width: 100%;
}

/* Region */
.region-menu-bar {
}

/**
 * Main Content
 */
#main-content {
}

#main-content .grid-inner {
	padding: 0 20px 20px 20px;
}

#main-content .region-content {
}

#main-content .region-content #block-system-main {
}

#main-content .region-content #block-system-main .block-inner {
	padding: 0;
}

#main-content .region-content #block-system-main .block-content {
	padding: 0;
}

/* Content on Front-page */
body.front #main-content .region-content {
}

/* Content on other pages */
body.not-front #main-content .region-content {
}

/* Page Title */
.page-title-wrap {
  background: url(../images/pattern.png) 0 0 repeat #fcce0a;
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
}

.page-title-wrap #page-title {
  color: #141a1e;
  font-size: 2.5em;
  margin: 0;
  padding: 0 10px;
  text-transform: uppercase;
}

#main-wrapper .page-title-wrap .container {
  padding: 45px 0 13px 0;
}

#page-title {
	margin: 0 0 .5em;
}

.in-maintenance #page-title {
	padding: 10px;
}

/**
 * Sidebars
 */
.sidebar {
}

.region-sidebar-first {	
}

#sidebar-first-wrapper > .grid-inner {
  background: url(../images/line.gif) repeat-y 100% 0;
}

#sidebar-second-wrapper > .grid-inner {
  background: url(../images/line.gif) repeat-y 0 0;
}

.region-sidebar-second {
}

/**
 * Panels
 */
.panel {	
}

.panel .container {	
}

/* --- First Panel --- */
#panel-first-wrapper .view-jcarousel {
  border-bottom: 1px solid #323232;
  padding-bottom: 30px;
}

/* --- Second Panel --- */
#panel-second-wrapper {  
  margin-bottom: 30px;
}

#panel-second-wrapper .block-inner {
  border-bottom: 1px solid #2e2e2e;
  border-top: 1px solid #2e2e2e;
  padding: 30px 0 18px 0;
}

/* --- Third Panel --- */
#panel-third-wrapper {
}

/**
 * Slideshow
 */
#slideshow-wrapper {
  background: #000;
  margin: 0;
  padding: 4px 0;
  position: relative;
  z-index: 1;
}

#slideshow-wrapper .grid-inner {
  padding: 0;
}

/**
 * Intro
 */
#intro-wrapper { 
  margin-bottom: 30px; 
}
 
#intro-wrapper .block-inner {
  border-bottom: 1px solid #323232;
  padding: 30px 0 15px 0;
}

#intro-wrapper h1 {
  font-family: 'oswaldregular';
  font-size: 2.66em;
  color: #fff;
  font-weight: normal;
  margin: 0 0 15px;
  text-transform: uppercase;
}

#intro-wrapper h2 {
  font-family: 'oswaldregular';
  font-size:1.5em;
  color: #fcce0a;
  font-weight: normal;
  margin: 0 0 8px;
  text-transform: uppercase;
}

/* --- Footer Menu --- */
#menu-footer-wrapper .grid-inner {
  border-top: 1px solid #323232;
  margin: 0 10px;
  padding: 0;
}
                   
/**
 * Footer
 */
#footer-wrapper .grid-inner {
  border-top: 6px solid #323232;
  margin: 0 10px;
  padding: 25px 0 0;
}

#footer {
	position: relative;
}

#footer .tb-copyright {	
  display: block;
  clear: both;
  color: #a9a9a9;
  font-size: 0.917em;
  padding: 0;
}

#footer .tb-copyright a {
  color: #fff;
}

/* Region */
.region-footer {
}

/**
 * Other Pages
 */

/* --- Blogs --- */
.page-blog {
}
 
/* Blog Action Links */
.page-blog ul.action-links {
  margin: 0 0 2em;
  padding: 0;
}

.page-blog ul.action-links li {
  margin: 0;
}


.page-blog ul.action-links li a {
  background:#FCCE0A;
  border: 1px solid #e8bd05;
  color: #000;
  display: inline-block;
  font-size: 0.917em;
  padding: 5px 10px; 
  text-transform: uppercase; 
  vertical-align: middle;
  font-weight: bold;
}

.page-blog ul.action-links li a:hover,
.page-blog ul.action-links a:focus {
  background:#000;
  border: 1px solid #010101;
  border-bottom: 1px solid #323232;
  color: #FFF;
  text-decoration: none;
}

/* --- Profiles --- */
.profile {
	margin-top: 0;
}

.profile h3 {
	margin: 0 0 1em;
	padding: 0 0 .5em 0;
	border-bottom: 1px solid #323232;
}


.profile .user-picture {
	float: none;
}

.profile .field {
}

.profile .field .field-label {
}

.profile .field .field-items {
}

.profile .field .field-items .field-item {
}

/* --- Search Results --- */
.search-results {
	margin: 0;
}

.search-results .search-result {
}

.search-results .title {
	font-size: 1.154em;
}

.search-results .search-snippet-info {
	padding: 0;
}

.search-results p {
	margin: 0;
}

.search-results .search-snippet {
}

.search-results .search-info {
	font-size: .923em;
}

span.search-info-type {
}

span.search-info-user {
}

span.search-info-date {
}

span.search-info-comment {
}

span.search-info-upload {
}

/* --- Poll Page --- */
.poll {
}

/* Vote Form */
.poll .vote-form {
	text-align: left;
}

.poll .vote-form .choices {
	margin: 0;
}

.poll .vote-form .choices .form-item {
}

/* Vote Result */
.poll .text {
}

.poll .bar {
	background: #DDD;
}

.poll .bar .foreground {
	background: #333;
}

.poll .percent {
	font-size: 0.92em;
	color: #7B7B7B;
}

.poll .total {
}

/* --- Feed Aggregator ---*/
/* Feed Items */
#aggregator .feed-item {
	margin-bottom: 40px;
}

#aggregator .feed-item .header {
}

#aggregator .feed-item .header h2 {
}

#aggregator .feed-item .content {
}

#aggregator .feed-item .footer {
}

#aggregator .feed-item .footer .meta {
}

#aggregator .feed-item .footer .categories {
}

/* Feed Lists */
#aggregator .feed {
	margin: 1em 0;
}

#aggregator .feed .summary-title {
}

#aggregator .feed .feed-url {
	margin: .5em 0 0;
}

#aggregator .feed .item-list {
}

#aggregator .feed .item-list ul {
}

#aggregator .feed .item-list ul li {
	background-image: none;
	margin: 1em 0 0;
	padding: 0;
}

#aggregator .feed .source {
	margin: .5em 0 0;
}

#aggregator .feed .time {
}

#aggregator .feed .feed-name {
	margin: 0;
}

#aggregator .feed .links a {
	margin: 0;
}

/* --- Maintenance Page --- */
.maintenance-page #skip-link {
	position: absolute;
	top: -99em;
}

.maintenance-page .footer {
}

.maintenance-page .footer a {
}

/**
 * Misc.
 */
 
/* Feed icons */
.feed-icon img {
	padding: 0 10px;
}

#feed-icons {
}

#feed-icons .feed-icon {
}

#feed-icons .feed-icon img {
}

#feed-icons a.feed-icon {
}