/**
 * Common View Elements
 */
 
/* --- Views Field --- */
.views-field {
}

.field-content {
}

/* Views Field Title */
.views-field-title {
}

.views-field-title .field-content {
}

/* Views Field Image */
.views-field-field-image {
}

.views-field-field-image .field-content {
}

/* Views Field Body */
.views-field-body {
}

.views-field-body .field-content {
}

/* Views Field Changed */
.views-field-changed {
}

.views-field-changed .field-content {
}

/* --- Views Inline Grid --- */
.views-row {
}

.views-row-odd {
}

.views-row-even {
}

.views-col {
}

.cols-1 .views-col {
  width: 100%;
}

.cols-2 .views-col {
  width: 50%;
}

.cols-3 .views-col {
  width: 33.33%;
}

.cols-4 .views-col {
  width: 25%;
}

.cols-5 .views-col {
  width: 20%;
}

.cols-6 .views-col {
  width: 16.66%;
}

/**
 * Supported Views Formats
 */
/* --- Slideshow --- */
#slideshow-wrapper .container {
}

#slideshow-wrapper .block-content {
  padding: 0;
}

#slideshow-wrapper .region-slideshow {
  position: relative;
}

/* Titles */
#slideshow-wrapper .views-field-title {
  background: #333;
  bottom: 0;
  color: #FFF;
  font-size: 0.875em;
  left: 0;
  position: absolute;
  text-transform: uppercase;
  display: none; /* Hide the title . Remove this line to show. */
}

#slideshow-wrapper .views-field-title .field-content {
  display: block;
  padding: .25em 2em;
}

#slideshow-wrapper .views-field-title a {
  color: #FFF;
}

#slideshow-wrapper .views-field-title a:hover,
#slideshow-wrapper .views-field-title a:active,
#slideshow-wrapper .views-field-title a:focus {
  color: #FFF;
  text-decoration: none;
}

/* Slideshow Navigator */
#slideshow-wrapper .views_slideshow_main {
  text-align: center;
}

.views-slideshow-cycle-main-frame-row {
  text-align: center;
  width: 100% !important;
  margin: 0 auto;
}

.views-slideshow-cycle-main-frame {
  overflow: hidden !important;
}

#slideshow-wrapper .views-slideshow-controls-bottom {
  background: url(../images/line-2.png) 0 0 repeat;
  bottom: 0;
  font-size: .92em;
  height: auto;
  padding: 15px 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 20; /* if you have more than 18 images in slideshow, increase this value */
}

#slideshow-wrapper .views-slideshow-pager-fields {
  width: 760px;
  margin: 0 auto;
}

#slideshow-wrapper .views-slideshow-pager-field-item {
  float: left;
  margin: 0 auto;
  padding: 0 7px;
}
 
#slideshow-wrapper .region-slideshow:hover .views-slideshow-controls-bottom {
  display: block;
}

#slideshow-wrapper .views-slideshow-pager-field-item .views-content-field-slideshow {
  padding-top: 6px;
  opacity: 0.7;
}

#slideshow-wrapper .views-slideshow-pager-field-item .views-content-field-slideshow img {
  background: #000; 
  border: 3px solid #000;
  cursor: pointer;   
}

#slideshow-wrapper .views-slideshow-pager-field-item.active .views-content-field-slideshow {
  background:url(../images/arrow-5.png) 50% 0 no-repeat;
  opacity: 1;
}

#slideshow-wrapper .views-slideshow-pager-field-item.active .views-content-field-slideshow img {
  border: 3px solid #fff;
  background: #000;
}

#slideshow-wrapper .views-slideshow-controls-top {
  display: none;
}

#slideshow-wrapper .views_slideshow_controls_text {
 position:absolute;
 left: 0;
 top: 0;
 width: 100%;
}

.views-slideshow-controls-text-inner {
  width: 816px;
  margin: 0 auto;
  position: relative;
}

#slideshow-wrapper .views_slideshow_controls_text span {
  display: block;
  width: 13px;
  height: 19px;
  background: url(../images/arrows.png) 0 -152px;
  position: absolute;
  top: 30px;
}

#slideshow-wrapper .views-slideshow-controls-text-pause {
  display: none !important;
}

#slideshow-wrapper .views_slideshow_controls_text .views-slideshow-controls-text-next {
  right: 0;
  background-position: 0 -171px;
}

#slideshow-wrapper .views_slideshow_controls_text .views-slideshow-controls-text-next:hover {
  background-position: 0 -209px;
}

#slideshow-wrapper .views_slideshow_controls_text .views-slideshow-controls-text-previous {
  left: 0;
}

#slideshow-wrapper .views_slideshow_controls_text .views-slideshow-controls-text-previous:hover {
  background-position: 0 -190px;
}

#slideshow-wrapper .views_slideshow_controls_text span a {
  display: block;
  width: 100%;
  height: 19px;
  overflow: hidden;
  text-indent: -999em;
}

#slideshow-wrapper .views_slideshow_slide_counter {
  background: #C00;
  color: #FFF;
  float: left;
  padding: .25em 1em;
  margin-left: 1px;
}

/* Slideshow Full Pager */
#slideshow-wrapper .view > .pager {
  bottom: 0;
  height: auto;
  position: absolute;
  right: 0;
  width: auto;
  z-index: 20; /* if you have more than 18 images in slideshow, increase this value */
}

/* Slideshow Mini Pager */
#slideshow-wrapper .views-mini-pager {
  bottom: 0;
  height: auto;
  position: absolute;
  right: 0;
  width: auto;
  z-index: 20; /* if you have more than 18 images in slideshow, increase this value */
}

/* Lastest View Block */
#sidebar-second-wrapper .lastest-view .views-field-field-image {
  float: left;
  padding-right: 10px;
}

#sidebar-second-wrapper .lastest-view .views-field-title a {
  color: #fcce0a;  
}

#sidebar-second-wrapper .lastest-view .views-field-title a:hover,
#sidebar-second-wrapper .lastest-view .views-field-title a:focus {
  color: #fff;
  text-decoration: none;
}

#sidebar-second-wrapper .views-row.lastest-view  {
  border-top: 1px solid #323232;
  padding-top: 1em;
}

#sidebar-second-wrapper .views-row.views-row-first {
  border-top: none;
}

/* Quicktabs */
.quicktabs-wrapper .views-field-title {
   padding-bottom: 15px;
}

.quicktabs-wrapper .views-field-title a {
  color:#c0c0c0;
  font-weight: bold; 
}

.quicktabs-wrapper .views-field-title a:hover,
.quicktabs-wrapper .views-field-title a:focus,
.quicktabs-wrapper .views-field-title a:active {
  color: #fff;
  text-decoration: none;
}

.quicktabs-wrapper .views-field-field-image,
.quick-accordion  .views-field-field-image {
  float: left;
  padding-right: 1.5em;
}

.quicktabs-wrapper .views-field-field-image img {
  border: 1px solid #000;
}

.quicktabs-wrapper .views-field-changed {
  font-style: italic;
}

.quicktabs-wrapper .popular-view {
  padding-top: 15px;
}

.quicktabs-wrapper .row-first .popular-view {
  padding-top: 0;
}

.quicktabs-wrapper .popular-view .views-field-name {
  float: left;
  margin-right: 3px;
}


.quicktabs-wrapper .popular-view .views-field-title,
.quicktabs-wrapper .our-product-view .views-field-title {
  padding-bottom: 5px;
}

.quicktabs-wrapper .popular-view .views-field-title a,
.quicktabs-wrapper .our-product-view .views-field-title a {
  color: #ffcc00;
}

#sidebar-second-wrapper .quick-accordion-mollise .ui-accordion-content {
  padding-bottom: 1em;
}

#sidebar-second-wrapper .quick-accordion-mollise .photos-block .views-field-field-image {
  margin-left: 15px;
}