@charset "utf-8";
/* CSS Document */
body {
	background-image: url(../img/background.eps);
	background-repeat:no-repeat;
	background-color: #d8d8d8;
	height: 100%;
	}
#uppermenu
{
	margin: 0 auto;
	height: 20px;
	width:1000px;
	background-color:grey;
}
#header
{
	margin: 0 auto;
	height: 100px;
	width:1000px;
	background-repeat:no-repeat;
	background-color:white;
	border: 0;
	text-align: left;
}
#myMenuTable 
{
	width: 1000px;
	position: relative;
	cursor: pointer;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	border: 0;
	border-collapse: collapse;
	margin: 0 auto;
	visibility: visible;
}
#myMenuTable tr
{
	background-color: grey;
	color: black;
	height: 40px;
}
#myMenuTable td
{
	width: 200px;
}
#myMenuTable a
{
	color:black;
	text-decoration:none;
}
#myMenuTable td:hover
{
	background-color: #90fcff;
	color: black;
}
#myMenuTable a:hover
{
	color: black;	
}
#mainContent 
{
	position:relative;
	width:1000px;
	height:650px;
	margin: 0 auto;
	text-align:left;
	font-size:18px;
	background-color: white;
}
#subMenuData1
{
	width: 180px;
	background-color: grey;
	display: none;
	
}
#subMenuData2
{
	position: relative;
	width: 180px;
	background-color: grey;
	display: none;
	left: 200px;
}
#subMenuData3
{
	width: 180px;
	background-color: grey;
	display: none;
	left: 400px;
}
#subMenuData4
{
	width: 180px;
	background-color: grey;
	display: none;
	left: 600px;
}
#subMenuData5
{
	width: 180px;
	background-color: grey;
	display: none;
	left: 800px;
}

#wrapper #mainContent 
{
	font-family: Verdana, Geneva, sans-serif;
}
#footer 
{
	position: relative;
	height: 20px;
	background-repeat: no-repeat;
	background-color: grey;
	text-align: center;
	width: 1000px;
	margin: 0 auto;
}
/* MENU 2 */

* { margin:0;
	padding:0;
}

html {height: 100%;}

body{
	position: relative;
	background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#fff));

}

.navbox {
	position: fixed;
	float: left;
}

ul.nav {
	list-style: none;
	display: inline;
	width: 200px;
	position: relative;
	top: 100px;
	left: 100px;
	padding: 60px 0 60px 0;
	-webkit-background-size: 50% 100%;
}

li {
	margin: 5px 0 0 0;
}

ul.nav li a {
	-webkit-transition: all 0.3s ease-out;
	background: #cbcbcb;
	color: #174867;
	padding: 7px 15px 7px 15px;
	-webkit-border-top-right-radius: 10px;
 	-webkit-border-bottom-right-radius: 10px;
	width: 100px;
	display: block;
	text-decoration: none;
	-webkit-box-shadow: 2px 2px 4px #888;
}

ul.nav li a:hover {
	background: #ebebeb;
	color: #67a5cd;
	padding: 7px 15px 7px 30px;
}
